<div class="alert shadow-lg mt-4">
  <div>
    <p>Caractères utilisés: </p>
  </div>
  <div class="form-control flex-none">
    <label class="label cursor-pointer">
      <span class="label-text mr-2">ABC</span>
      <input checked="checked" class="checkbox mr-4" type="checkbox"/>
      <span class="label-text mr-2">abc</span>
      <input checked="checked" class="checkbox mr-4" type="checkbox"/>
      <span class="label-text mr-2">123</span>
      <input checked="checked" class="checkbox mr-4" type="checkbox"/>
      <span class="label-text mr-2">#&!</span>
      <input checked="checked" class="checkbox mr-4" type="checkbox"/>
    </label>
  </div>
</div>
<div class="alert shadow-lg mt-4">
  <div>
    <p>Longueur du mot de passe: 10</p>
  </div>
  <input class="range w-64" max="50" min="0" type="range" value="10"/>
</div>
